In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("hwk2-task2-salmon.ipynb")

# Task 2: Wrangling Alaska salmon catch data 

## Instructions 

- First, update the following cell to have a link to *your* Homework 2 GitHub repository:

**UPDATE THIS LINK**
https://github.com/jorb1/eds220-hwk2


- Review the [complete rubric for this task](https://docs.google.com/document/d/1x0BoU6IH4cnOR1-n7i9CYQ9wUC37yDpYlQ4j6rCfcsU/edit?tab=t.0) before starting.

- **Meaningful commits should be made every time you finish a major step.** We'll check your repository and view the commit history.

- **Every code cell should have a comment.** Err on the side of commenting too much for now. Comments should follow best practices.

- **Do not update the top cell with the `otter` import**, this is used internally for grading.

## Acknowledgments

This exercise is based on the [Cleaning and Wrangling Data in R lesson by the NCEAS Learning Hub](https://learning.nceas.ucsb.edu/2023-06-delta/session_11.html).


> Halina Do-Linh, Carmen Galaz GarcÃ­a, Matthew B. Jones, Camila Vargas Poulsen. 2023. Open Science Synthesis training Week 1. NCEAS Learning Hub & Delta Stewardship Council.


## About the data

In this task you will use simplified data from the Alaska Department of Fish & Game containing commercial salmon catch data from 1878 to 1997. The original data can be accessed from the KNB repository:

> [Mike Byerly. (2016). Alaska commercial salmon catches by management region (1886-1997).](https://knb.ecoinformatics.org/view/df35b.304.2) Gulf of Alaska Data Portal. df35b.304.2.

The simplified dataset is in CSV format in the homework repository and has the following columns:

| Column | Description |
| ------ | ----------- | 
| Regions | Region code |
| Year | Year fish were caught |
| notesRegCode | Notes and comments |
| Species | Species of salmon caught |
| Catch | Commercial catches of salmon species (in thousands of fish) |

## COMPLETE WORKFLOW

You will use the next code cell to complete the last exercise in the task. Leave it blank for now.

In [ ]:
# FINAL CODE

import pandas as pd
catch_data = pd.read_csv("~/MEDS/EDS-220/eds220-hwk2/data/salmon_data.csv").drop('notesRegCode', axis=1)

catch_data.at[400, "Catch"] = 1 # Update mistaken I to 1

# Update Catch column to have dtype int64
catch_data['Catch'] = catch_data['Catch'].astype('int64') 

# Calculate the mean catch of salmon by region, and then plot it in an understandable format
catch_data_plot = (catch_data.groupby(['Region'])
            .mean()
            .Catch
            .sort_values()
            .plot(kind='barh',
                 title='Average Salmon Catch (by 1000s of fish) by Region 1878-1997',
                 ylabel=('Region')))
catch_data_plot.set_ylabel(ylabel='Region')
catch_data_plot.set_xlabel(xlabel='Catches of Salmon Species (in thousands of fish)')

## 1

a. Uset this code cell to import the data from the `salmon_data.csv` as `catch_data`. Look at the head of the dataframe.

In [ ]:
# Load libraries
import pandas as pd

<!-- BEGIN QUESTION -->

In [ ]:
# a.
# Read in the data
catch_data = pd.read_csv("~/MEDS/EDS-220/eds220-hwk2/data/salmon_data.csv")

In [ ]:
# Look at the first few rows of the dataframe
catch_data.head(3)

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

b. Use this code cell to make some other preliminary data exploration of your choosing.

In [ ]:
# b. 
# Check the data type of each column in the dataframe
print(catch_data.dtypes)

# Check how many rows and columns are in the dataframe
print(catch_data.shape)

# Check and see how many NaNs are in each column
print(catch_data.isnull().sum())

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

c. Use this markdown cell to explain why you decided to do the exploration in c. and what information you obtained from doing it.

I chose to do an exploration of the data types, in case I need to use certain functions, I will need to know the types to see if I need to perform any transformations to the data in order to use these functions. For example, I wanted to know if the 'year' column was in date or numeric form. I learned that it was an int64.

I also chose to do the .shape function to see the dimensions of the dataframe. I noticed there are a few columns in the head that look like they might be blank. I wanted to see the overall shape to make sure I was understanding that correctly. It turns out that was just the way that .head renders.

I noticed some NaN values in the head as well. I wanted to see how many there were per column, so I would know where I needed to deal with them.

<!-- END QUESTION -->

## 2
In the next cell:

a. Store the unique values of the `notesRegCode` column in the `notes_unique` variable.

In [ ]:
# Use the .unique() function to create a list of all unique variables in the notesREGCode column
notes_unique = catch_data['notesRegCode'].unique()
print(notes_unique)

b. Update the dataframe so it doesn't include the `notesRegCode` column. Verify the column is no longer in the dataframe.

In [ ]:
# First, use .drop to remove the column, and then .head to check the list of columns to make sure it worked
catch_data = catch_data.drop(columns='notesRegCode')
catch_data.head(5)

<!-- BEGIN QUESTION -->

## 3
Does each column have the expected data type? Use this code cell to obtain this information and write your answer in the next markdown cell.

In [ ]:
# Use .dtypes to find out what kind of data types are in each column
print(catch_data.dtypes)

I ran the test earlier, but did it here again after dropping the column. It's weird that Chinook is an object, when the rest of the data for the fish are int64s. The rest of the values make sense given their data.

<!-- END QUESTION -->

## 4 
The following cell shows a first attempt at updating the `Catch` column to be of data type `int64` instead of `object`. Converting from one data type to another is often called **casting**. 

To do it we use the [`astype()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.astype.html) method for `pandas.Series`. The `astype()` method does not modify the `pandas.Series` in place.

Run the next cell and read the end of the error message closely.

In [ ]:
catch_data['Catch'].astype('int64')

## 5 

The previous error tells us there is a value 'I' (as in the letter 'I') that could not be converted to integer type.  It turns out the original data set was created from a PDF which was automatically converted into a CSV file and this 'I' vlaue should be 1.

In the next cell find the row(s) causing this issue. Show the filtered row(s) as the output. Store your answer in the `catch_I` variable. `catch_I` should have one observation and contain the following columns: Region, Year, Species, Catch.

In [ ]:
# Find the row with the I instead of the 1
catch_I = catch_data[catch_data['Catch'].str.contains('I', na=False)]
catch_I

## 6
In the next cell:

1. Update the value of I to 1.
2. Access the row you updated to verify the value was changed and store this singe row in the `catch_1` variable.

In [ ]:
# Update the I to a 1
catch_data.at[400, "Catch"] = 1

# Store this update as a variable
catch_1 = catch_data.loc[400, ]
catch_1

## 7
In the next cell:

1. Update the `Catch` column in `catch_data` to be of type `int64`.
2. Confirm you have updated the data type. Store the type of the `catch` column in the `catch_column_type` variable.

In [ ]:
# Change the dtype of the Catch column to numeric, or int64
catch_data['Catch'] = catch_data['Catch'].astype('int64')

catch_column_type = catch_data['Catch'].dtypes
catch_column_type

## 8
Create a data frame with the average salmon catch per region. HINT: use `groupby()`. Store your dataframe in new variable called `avg_region`

In [ ]:
# Use groupby() and mean() to great a plottable set of data sorting by region and calculating average Catch
avg_region = catch_data.groupby('Region')['Catch'].mean().sort_values()

avg_region

<!-- BEGIN QUESTION -->

## 9 

Use the dataframe you created in 8 to make a bar graph of the estimated average salmon catches by region from 1878 to 1997. The bars in the graph should be ordered by magnitude (increasing or decreasing is ok). Add a title  to your graph and update the axes labels if needed (check the units for the salmon catch).

In [ ]:
# Create a plot from the groupby() data above that shows the average Salmon catch by region

catch_data_plot = avg_region.plot(kind='barh',
               title="Average Salmon Catch (by 1000s of fish) by Region 1878-1997",
                legend=False)
catch_data_plot.set_ylabel(ylabel='Region')
catch_data_plot.set_xlabel(xlabel='Catches of Salmon Species (in thousands of fish)')

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

## 10

Write a brief description with key takeaways from the plot. Your answer shuld use the complete names for the management areas instead of their codes. You can find what each code stands for in the [original data repository](https://knb.ecoinformatics.org/view/df35b.304.2#df35b.303.1).

This plot shows the average number (measured in thousands of fish) of salmon caught in these regions between the years of 1878 and 1997. This plot shows that in this long period of time, the Southern Southeast (SSE) region of Alaska was the most productive. The Bering River Subarea (BER) was the lowest producing during that time.

## 11

Collect all the relevant code into the first blank cell of the notebook titled "COMPLETE WORKFLOW". This single cell will have the end-to-end workflow: from importing libraries and loading the data, to producing the graph. The *only* ouput of this cell should be the graph you produced in the previous exercise. Further guidance on what to include in this final workflow is in the [assignment rubric](https://docs.google.com/document/d/1x0BoU6IH4cnOR1-n7i9CYQ9wUC37yDpYlQ4j6rCfcsU/edit?tab=t.0).